---
title: Blog | imi
---
{% extends "layouts/_index-layout.html" %}

{% block content %}

	<!-- begin first-screen -->
	<section class="first-screen first-screen-js">
		<h1 class="first-screen__title">Blog</h1>
	</section>
	<!-- end first-screen -->

	<div class="container content">

		<div class="blog-wrapper">
			<!-- begin activities-wrapper__content -->


			<!-- <div class="blog-wrapper__content"> -->

				<article class="blog-post">
					<a href="blog-post.html" class="blog-post__img">
						<img src="img/activities-inner-1.jpg" alt="">
					</a>

					<!-- begin activities-cotntent-text -->
					<div class="blog-post-text">
						<h2 class="blog-post-text__title">
							<a href="blog-post.html" class="blog-post-text__link">Blog post title</a>
						</h2>
						<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
						</div>
						<a class="btn btn-read-more" href="blog-post.html">Read-more</a>
					</div>
					<!-- end activities-cotntent-text -->

				</article>

				<article class="blog-post">
					<a href="blog-post.html" class="blog-post__img">
						<img src="img/activities-inner-1.jpg" alt="">
					</a>

					<!-- begin activities-cotntent-text -->
					<div class="blog-post-text">
						<h2 class="blog-post-text__title">
							<a href="blog-post.html" class="blog-post-text__link">Blog post title</a>
						</h2>
						<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
						</div>
						<a class="btn btn-read-more" href="blog-post.html">Read-more</a>
					</div>
					<!-- end activities-cotntent-text -->

				</article>

				<article class="blog-post">
					<a href="blog-post.html" class="blog-post__img">
						<img src="img/activities-inner-1.jpg" alt="">
					</a>

					<!-- begin activities-cotntent-text -->
					<div class="blog-post-text">
						<h2 class="blog-post-text__title">
							<a href="blog-post.html" class="blog-post-text__link">Blog post title</a>
						</h2>
						<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
						</div>
						<a class="btn btn-read-more" href="blog-post.html">Read-more</a>
					</div>
					<!-- end activities-cotntent-text -->

				</article>

				<article class="blog-post">
					<a href="blog-post.html" class="blog-post__img">
						<img src="img/activities-inner-1.jpg" alt="">
					</a>

					<!-- begin activities-cotntent-text -->
					<div class="blog-post-text">
						<h2 class="blog-post-text__title">
							<a href="blog-post.html" class="blog-post-text__link">Blog post title</a>
						</h2>
						<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
						</div>
						<a class="btn btn-read-more" href="blog-post.html">Read-more</a>
					</div>
					<!-- end activities-cotntent-text -->

				</article>

				<article class="blog-post">
					<a href="blog-post.html" class="blog-post__img">
						<img src="img/activities-inner-1.jpg" alt="">
					</a>

					<!-- begin activities-cotntent-text -->
					<div class="blog-post-text">
						<h2 class="blog-post-text__title">
							<a href="blog-post.html" class="blog-post-text__link">Blog post title</a>
						</h2>
						<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
						</div>
						<a class="btn btn-read-more" href="blog-post.html">Read-more</a>
					</div>
					<!-- end activities-cotntent-text -->

				</article>
			
			<!-- </div> -->

			<!-- end activities-wrapper__content -->
			
			<!-- begin activities-wrapper__aside -->
			<!-- <aside class="blog-wrapper__aside">
				<table class="blog-categoies">
					<tr class="blog-categoies__tr">
						<th class="blog-categoies__th">Categories</th>
					</tr>
					<tr class="blog-categoies__tr">
						<td class="blog-categoies__td">
							<a class="blog-categoies__link" href="#">Category 1</a>
						</td>
					</tr>

					<tr class="blog-categoies__tr">
						<td class="blog-categoies__td">
							<a class="blog-categoies__link" href="#">Category 2</a>
						</td>
					</tr>

					<tr class="blog-categoies__tr">
						<td class="blog-categoies__td">
							<a class="blog-categoies__link" href="#">Category 3</a>
						</td>
					</tr>

					<tr class="blog-categoies__tr">
						<td class="blog-categoies__td">
							<a class="blog-categoies__link" href="#">Category 4</a>
						</td>
					</tr>

					<tr class="blog-categoies__tr">
						<td class="blog-categoies__td">
							<a class="blog-categoies__link" href="#">Category 5</a>
						</td>
					</tr>
				</table>
			</aside> -->
			<!-- end activities-wrapper__aside -->
			
		</div>
	</div>
	
{% endblock %}
