---
title: Blog post | imi
---
{% extends "layouts/_index-layout.html" %}

{% block content %}

	<!-- begin first-screen -->
	<section class="first-screen first-screen-js">
		<h1 class="first-screen__title">Blog post</h1>
	</section>
	<!-- end first-screen -->

	<div class="container content">

	
			<article class="activities-content">
				
				<!-- begin activities-content__slider-big -->
				<div class="activities-content__slider-big">

					<div class="activities-content-icons">
						<div class="activities-content-icons__icon activities-icon"> 
							<div class="activities-icon__icon-bg">
								{{mixins.icon('arrow-bg-border')}}
							</div>

							<div class="activities-icon__icon">
								{{mixins.icon('icon-mark')}}
							</div>

							<span class="activities-icon__text">Ala Moana Harbor</span>
						</div>

						<div class="activities-content-icons__icon activities-icon"> 
							<div class="activities-icon__icon-bg">
								{{mixins.icon('arrow-bg-border')}}
							</div>

							<div class="activities-icon__icon">
								{{mixins.icon('icon-time')}}
							</div>

							<span class="activities-icon__text">2 hours</span>
						</div>
					</div>

					<div class="slider-big">
						<div class="slider-big-slide">
							<div class="slider-big-slide__img">
								<img src="img/activities-inner-1.jpg" alt="">
							</div>
						</div>

						<div class="slider-big-slide">
							<div class="slider-big-slide__img">
								<img src="img/activities-inner-1.jpg" alt="">
							</div>
						</div>

						<div class="slider-big-slide">
							<div class="slider-big-slide__img">
								<img src="img/activities-inner-1.jpg" alt="">
							</div>
						</div>

						<div class="slider-big-slide">
							<div class="slider-big-slide__img">
								<img src="img/activities-inner-1.jpg" alt="">
							</div>
						</div>

						<div class="slider-big-slide">
							<div class="slider-big-slide__img">
								<img src="img/activities-inner-1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- end activities-content__slider-big -->
				
				<!-- begin activities-content__slider-small -->
				<div class="activities-content__slider-small slider-small">
					<div class="slider-small-slide">
						<div class="slider-small-slide__img">
							<img src="img/activities-inner-1.jpg" alt="">
						</div>
					</div>

					<div class="slider-small-slide">
						<div class="slider-small-slide__img">
							<img src="img/activities-inner-1.jpg" alt="">
						</div>
					</div>

					<div class="slider-small-slide">
						<div class="slider-small-slide__img">
							<img src="img/activities-inner-1.jpg" alt="">
						</div>
					</div>

					<div class="slider-small-slide">
						<div class="slider-small-slide__img">
							<img src="img/activities-inner-1.jpg" alt="">
						</div>
					</div>

					<div class="slider-small-slide">
						<div class="slider-small-slide__img">
							<img src="img/activities-inner-1.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end activities-content__slider-small -->

				<!-- begin activities-cotntent-text -->
				<div class="activities-content-text">
					<h2 class="activities-content-text__title">Venue Description:</h2>
					<div class="activities-content-text__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code. 
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias, maiores culpa, error itaque omnis eius. Sed dolor, facilis! Corporis accusantium modi est animi dignissimos sint magnam in, consectetur quos!</p>
				</div>
				<!-- end activities-cotntent-text -->

			</article>
			<!-- end activities-wrapper__content -->
			
			
	</div>
	
{% endblock %}
