---
title: Index page | imi
---
{% extends "layouts/_index-layout.html" %}

{% block content %}

	<section class="first-screen-index first-screen-js">

		<!-- begin slider-bg -->
		<div class="slider-bg">
			
			<!-- begin slider-bg-slide -->
			<div class="slider-bg-slide" style="background-image: url('img/header-bg.jpg');">
				<h1 class="slider-bg-slide__title">1 Circle Island Guided Tour </h1>		

				<a href="#index-screen" class="slider-bg-slide-link link-to">
				<span class="slider-bg-slide-link__text">Start here</span>
					<span class="slider-bg-slide-link-img">
						{{mixins.icon('icon-mouse')}}
					</span>
				</a>

				<div class="slider-bg-slide-weather">
					<img src="img/weather.png" alt="">
				</div>
			</div>
			<!-- end slider-bg-slide -->

			<!-- begin slider-bg-slide -->
			<div class="slider-bg-slide" style="background-image: url('img/header-bg.jpg');">
				<h1 class="slider-bg-slide__title">2 Circle Island Guided Tour </h1>		

				<a href="#index-screen" class="slider-bg-slide-link link-to">
				<span class="slider-bg-slide-link__text">Start here</span>
					<span class="slider-bg-slide-link-img">
						{{mixins.icon('icon-mouse')}}
					</span>
				</a>

				<div class="slider-bg-slide-weather">
					<img src="img/weather.png" alt="">
				</div>
			</div>
			<!-- end slider-bg-slide -->

			<!-- begin slider-bg-slide -->
			<div class="slider-bg-slide" style="background-image: url('img/header-bg.jpg');">
				<h1 class="slider-bg-slide__title">3 Circle Island Guided Tour </h1>		

				<a href="#index-screen" class="slider-bg-slide-link link-to">
				<span class="slider-bg-slide-link__text">Start here</span>
					<span class="slider-bg-slide-link-img">
						{{mixins.icon('icon-mouse')}}
					</span>
				</a>

				<div class="slider-bg-slide-weather">
					<img src="img/weather.png" alt="">
				</div>
			</div>
			<!-- end slider-bg-slide -->

		</div>
		<!-- end slider-bg -->

	</section>
	
	<ul class="mobile-menu">
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-activities')}}
				<span class="mobile-menu-li-link__text">Activities</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-restaurants')}}
				<span class="mobile-menu-li-link__text">Restaurants</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-shopping')}}
				<span class="mobile-menu-li-link__text">Shopping</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-car')}}
				<span class="mobile-menu-li-link__text">Rentals</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-service')}}
				<span class="mobile-menu-li-link__text">Service</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-transportation')}}
				<span class="mobile-menu-li-link__text">Transportaion</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-food')}}
				<span class="mobile-menu-li-link__text">Food Delivery</span>
			</a>
		</li>
		<li class="mobile-menu-li">
			<a href="#" class="mobile-menu-li-link">
				{{mixins.icon('icon-info')}}
				<span class="mobile-menu-li-link__text">Information</span>
			</a>
		</li>
	</ul>	

	<section id="index-screen" class="index-screen">

		<div class="container">
		
			<div class="slider">
				<article class="slider-slide">
					<h2 class="slider-slide__title">Kualoa Ranch</h2>
					<div class="slider-slide-img">
						<img src="img/pic-1.jpg" alt="" class="slider-slide-img__img">
					</div>
					<div class="slider-slide-description">
						<div class="slider-slide-description__title">Venue Description:</div>
						<div class="slider-slide-description__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code.</div>
					</div>
				</article>

				<article class="slider-slide">
					<h2 class="slider-slide__title">Kualoa Ranch</h2>
					<div class="slider-slide-img">
						<img src="img/pic-1.jpg" alt="" class="slider-slide-img__img">
					</div>
					<div class="slider-slide-description">
						<div class="slider-slide-description__title">Venue Description:</div>
						<div class="slider-slide-description__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code.</div>
					</div>
				</article>

				<article class="slider-slide">
					<h2 class="slider-slide__title">Kualoa Ranch</h2>
					<div class="slider-slide-img">
						<img src="img/pic-1.jpg" alt="" class="slider-slide-img__img">
					</div>
					<div class="slider-slide-description">
						<div class="slider-slide-description__title">Venue Description:</div>
						<div class="slider-slide-description__text">Hot spot provider about us info, address, phone, clickable link to own page if paid advertiser.specials on location can be added here in a form of clickable banners or downloadable coupons code.</div>
					</div>
				</article>
			</div>

			 {% include "partials/_ads.html" %}

		</div>

	</section>

	<section class="index-items index-items_marine">
		<div class="index-items-title">
			<h2 class="index-items-title__title">
				{{mixins.icon('icon-activities')}}
				Activities Nearby
			</h2>

			<!-- begin flowers -->
			<div class="flowers">
				<div class="flower flower_left-border">
					<img class="flower__img" src="img/palm-1.png" alt="">
				</div>
				<div class="flower flower_left">
					<img class="flower__img" src="img/flower-1.png" alt="">
				</div>
				<div class="flower flower_right-half">
					<img class="flower__img" src="img/flower-2.png" alt="">
				</div>
				<div class="flower flower_right">
					<img class="flower__img" src="img/flower-3.png" alt="">
				</div>
				<div class="flower flower_right-border">
					<img class="flower__img" src="img/palm-2.png" alt="">
				</div>
			</div>
			<!-- end flowers -->
		</div>

		<div class="index-items-slider-four slider-four">
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-1.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
		</div>


		<div class="index-items-wrapper index-items-wrapper_mobile">
			<div class="slider-mobile-two">
				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>			
			</div>
	
			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-1.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
		</div>
	</section>

	<section class="index-items index-items_pink">
		<div class="index-items-title">
			<h2 class="index-items-title__title">
				{{mixins.icon('icon-restaurants')}}
				Restaurants Nearby
			</h2>
		</div>

		<div class="index-items-slider-four slider-four">
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-2.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>


			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
		</div>

		<div class="index-items-wrapper index-items-wrapper_mobile">
			<div class="slider-mobile-two">
				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>			
			</div>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-2.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
	
		</div>

	</section>

	<section class="index-items index-items_yellow">
		<div class="index-items-title">
			<h2 class="index-items-title__title">
				{{mixins.icon('icon-car')}}
				Car Rentals Nearby
			</h2>
		</div>

		<div class="index-items-slider-four slider-four">
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-3.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>

		</div>

		<div class="index-items-wrapper index-items-wrapper_mobile">
			<div class="slider-mobile-two">
				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>			
			</div>
	
			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-3.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
		</div>

	</section>

	<section class="index-items index-items_green">
		<div class="index-items-title">
			<h2 class="index-items-title__title">
				{{mixins.icon('icon-shopping')}}
				Shopping Nearby
			</h2>
		</div>

		<div class="index-items-slider-four slider-four">
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-2.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>
		</div>

		<div class="index-items-wrapper index-items-wrapper_mobile">
			<div class="slider-mobile-two">
				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>			
			</div>
	
			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-2.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
		</div>

	</section>

	<section class="index-items index-items_sky">
		<div class="index-items-title">
			<h2 class="index-items-title__title">
				{{mixins.icon('icon-transportation')}}
				Transportation  Nearby
			</h2>
		</div>

		<div class="index-items-slider-four slider-four">
			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item">
				<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
				<div class="index-item-cost">
					{{mixins.icon('arrow-bg-border')}}
					<span class="index-item-cost__text">144.95$</span>
				</div>
				<h2 class="index-item__title">Polynesian Cultural Center</h2>
				<div class="index-item__text">Admission & Show Package + Free Dinner</div>
			</a>

			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-3.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
		</div>

		<div class="index-items-wrapper index-items-wrapper_mobile">
			<div class="slider-mobile-two">
				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-1.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-2.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>

				<a href="activities-inner.html" class="index-items-wrapper__item index-item">
					<img src="img/index-activ-3.jpg" alt="" class="index-item__img">
					<div class="index-item-cost">
						{{mixins.icon('arrow-bg-border')}}
						<span class="index-item-cost__text">144.95$</span>
					</div>
					<h2 class="index-item__title">Polynesian Cultural Center</h2>
					<div class="index-item__text">Admission & Show Package + Free Dinner</div>
				</a>			
			</div>
	
			<a href="activities-inner.html" class="index-items-wrapper__item index-item index-item_banner">
				<img src="img/index-banner-3.png" alt="" class="index-item__banner">
				<div class="index-item-banner"><span class="index-item-banner__text">Ad</span></div>
			</a>
		</div>

	</section>
	
{% endblock %}
