<!-- begin banners -->
<div class="banners">
	<div class="banners__title">Ads</div>
	<div class="banners-wrapper slider-three">
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-1.jpg" class="banner__img" alt="">
		</a>
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-2.jpg" class="banner__img" alt="">
		</a>
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-3.jpg" class="banner__img" alt="">
		</a>
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-1.jpg" class="banner__img" alt="">
		</a>
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-2.jpg" class="banner__img" alt="">
		</a>
		<a href="#" class="banners-wrapper__banner banner">
			<img src="img/banner-3.jpg" class="banner__img" alt="">
		</a>
	</div>
</div>
<!-- end banners -->