<footer class="footer">

	<!-- begin footer-banners -->
	<div class="footer-banners">
		<div class="container">
			{% include "partials/_ads.html" %}
		</div>
	</div>
	<!-- end footer-banners -->

	<!-- begin footer-about -->
	<div class="footer-about">

		<div class="container">
			<h2 class="footer-about__title">About Imi</h2>
			<div class="footer-about__text">We are dedicated to providing you seamless connectivity wherever you go! You can check out some of Oahu's premier events and even book tickets to activities of your choice!</div>
		</div>

		<!-- begin footer-icons -->
		<div class="footer-icons">
			<ul class="footer-icons-list">
				<li class="footer-icons-list-li">
					<a href="#" class="footer-icons-list-li__link" target="_blank">
						{{mixins.icon('icon-fb')}}
					</a>
				</li>
				<li class="footer-icons-list-li">
					<a href="mailto:email@email.email" class="footer-icons-list-li__link" target="_blank">
						{{mixins.icon('icon-gmail')}}
					</a>
				</li>
			</ul>
		</div>
		<!-- end footer-icons -->
		
		<!-- begin footer-flowers -->
		<div class="footer-flowers">
			<div class="footer-flowers-flower footer-flowers-flower_left">
				<img src="img/flower-1.png" alt="" class="footer-flowers-flower__img">
			</div>
			<div class="footer-flowers-flower footer-flowers-flower_right-half">
				<img src="img/flower-2.png" alt="" class="footer-flowers-flower__img">
			</div>
			<div class="footer-flowers-flower footer-flowers-flower_right">
				<img src="img/flower-3.png" alt="" class="footer-flowers-flower__img">
			</div>
		</div>
		<!-- end footer-flowers -->
	</div>
	<!-- end footer-about -->

	<div class="footer-line">
		<div class="footer-line-copy">© ImiFreeWifi 2018 All rights reserved</div>

		<!-- begin footer-link-links -->
		<div class="footer-line-links">
			<ul class="footer-line-links-list">
				<li class="footer-line-links-list-li">
					<a href="" class="footer-line-links-list-li__link">Privacy Policy</a>
				</li>
				<li class="footer-line-links-list-li">
					<a href="" class="footer-line-links-list-li__link">Terms & Conditions</a>
				</li>
			</ul>
		</div>
		<!-- end footer-link-links -->
	</div>
</footer>