<!-- begin header -->
<header class="header">
	
	<a href="index.html" class="header-logo">
		<img src="img/header-logo.png" alt="" class="header-logo__img">
	</a>
	
	<nav class="header-nav">
		<ul class="header-nav-list">
			<li class="header-nav-list-li header-nav-list-li_dropdown">
				<a href="#" class="header-nav-list-li__link">Venues<span class="header-nav-list-li__caret">down</span>
				</a>

				<!-- begin header-nav-list-dropdown -->
				<ul class="header-nav-list-dropdown">
					
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Ala Moana</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Beretania</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Kaimuki</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Kualoa</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Sharks Cove</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Waimanalo</a>
					</li>
					<li class="header-nav-list-dropdown-li">
						<a href="#" class="header-nav-list-dropdown-li__link">Waimea Vally</a>
					</li>

				</ul>
				<!-- end header-nav-list-dropdown -->
				
			</li>
			<li class="header-nav-list-li">
				<a href="activities.html" class="header-nav-list-li__link">Activities</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Restaurants</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Shopping</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Car Rentals</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Transportation</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Servicer</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Food Delivery</a>
			</li>
			<li class="header-nav-list-li">
				<a href="#" class="header-nav-list-li__link">Information</a>
			</li>
		</ul>
	</nav>

	<button class="header-nav__button" type="button">
		Menu
		<span class="lines"></span>
	</button>

</header>
<!-- end header -->
