<section class="first-screen first-screen_index" style="background-image: url('img/header-bg.jpg');">
	<!-- {% include "partials/_header-links.html" %} -->
	
	<h1 class="first-screen__title">Circle Island Guided Tour </h1>

	<a href="#index-screen" class="first-screen-link link-to">
		<span class="first-screen-link__text">Start here</span>
		<span class="first-screen-link-img">
			{{mixins.icon('icon-mouse')}}
		</span>
	</a>

	<div class="first-screen-weather">
		<img src="img/weather.png" alt="">
	</div>

</section>

