{% set 
inputs = [
	{
		name: 'All'
	},
	{
		name: 'ATV Tours'
	},
	{
		name: 'Big Island Tours & Activities'
	},
	{
		name: 'Boat Rides & Sailing'
	},
	{
		name: 'Circle island Tours'
	},
	{
		name: 'Coral Crater Adventure Park'
	},
	{
		name: 'Dinner Cruises'
	},
	{
		name: 'Dolphin Watch'
	},

	{
		name: 'Electric Bike Tours'
	},
	{
		name: 'Food And Dring'
	},
	{
		name: 'Helicopter Tours'
	},
	{
		name: 'Hiking & Climbing'
	},
	{
		name: 'Horse Rides'
	},
	{
		name: 'Kauai Island Tours & Activities'
	},
	{
		name: 'Kayaking'
	},
	{
		name: 'Kualoa Ranch'
	},
	{
		name: 'Lei Greeting'
	},
	{
		name: 'Luaus'
	},
	{
		name: 'Maui Island Tours Activities'
	},
	{
		name: 'North Shore Tours'
	},
	{
		name: 'Pearl Harbor Tours'
	},
	{
		name: 'Photography Tours'
	},
	{
		name: 'Polynesian Cultural Center'
	},
	{
		name: 'Scuba Diving'
	},
	{
		name: 'Shows And Dinners'
	},
	{
		name: 'Sky Diving'
	},
	{
		name: 'Snorkeling'
	},
	{
		name: 'Stand Up Paddle'
	},
	{
		name: 'Surf Lessons'
	},
	{
		name: 'Swim With Dolphins'
	},
	{
		name: 'Swim With Sharks'
	},
	{
		name: 'Trikke & Segway Tours'
	},
	{
		name: 'Turtle Tours'
	},
	{
		name: 'Water Sports'
	},
	{
		name: 'Whale Watching'
	},
	{
		name: 'Yoga'
	},
	{
		name: 'Zip Line Adventures'
	}

] 
%}