.icon-arrow-bg-border {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-bg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-icon-activities {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.icon-icon-car {
  width: 1.43em;
  height: 1em;
  fill: initial;
}
.icon-icon-check {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-icon-fb {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-icon-filter {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-icon-flower-1 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-icon-flower-2 {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-icon-flower-3 {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-icon-food {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-icon-gmail {
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.icon-icon-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon-mark {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-icon-mouse {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-icon-palm-1 {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-icon-palm-2 {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-icon-restaurants {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-icon-service {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-icon-shopping {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-icon-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon-transportation {
  width: 1em;
  height: 1em;
  fill: initial;
}
